<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhr.cuit.mapper.AssignmentMapper">

    <resultMap id="BaseResultMap" type="com.fhr.cuit.model.entity.Assignment">
            <id property="assignmentId" column="assignment_id" jdbcType="BIGINT"/>
            <result property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="releaseTime" column="release_time" jdbcType="TIMESTAMP"/>
            <result property="deadline" column="deadline" jdbcType="TIMESTAMP"/>
            <result property="maxScore" column="max_score" jdbcType="DECIMAL"/>
            <result property="attachment" column="attachment" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        assignment_id,course_id,title,
        description,type,release_time,
        deadline,max_score,attachment
    </sql>
</mapper>
