<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhr.cuit.mapper.UploadRecordMapper">

    <resultMap id="BaseResultMap" type="com.fhr.cuit.model.entity.UploadRecord">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
            <result property="uploadTime" column="upload_time" jdbcType="TIMESTAMP"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="uploadStatus" column="upload_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_path,upload_time,
        user_id,upload_status
    </sql>
</mapper>
